

body{
  background-color: #071D54;
}

.link_email_contato{
  color: #fff;
}
.detal{
  color: var(--first-color);
}

.home__container{
  display: flex;
  align-items: center;
  padding-top: 12%;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  }
  .home__data-container{
    width: 80%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
   .infordados{
    display: flex;
    justify-content:space-evenly;
    padding-top: 1rem;
    width: 80%;
    margin-left: 10%;
    margin-top:2rem;
  }

  
    /*=============== HOME ===============*/
    .home_section {
      padding: 1rem 1rem;
    }
  
    .home__font {
     color: var(--first-color);
    
  }
  
  
  .home__title {
    font-size: 2.8rem;
    line-height: 140%;
    margin-bottom: var(--mb-1);
    margin-top: -3rem;
  }
  
  .home__description {
    margin-bottom: var(--mb-2-5);
   
  }
  
  .home__social {
    position: absolute;
    top: 2rem;
    right: -1rem;
    display: grid;
    justify-items: center;
    row-gap: 3.5rem;
  }
  
  .home__social-follow {
    font-weight: var(--font-medium);
    font-size: var(--small-font-siz);
    color: var(--first-color);
    position: relative;
    transform: rotate(90deg);
  }
  
  .home__social-follow::after {
    content: "";
    position: absolute;
    width: 1rem;
    height: 2px;
    background-color: var(--first-color);
    right: -45%;
    top: 50%;
  }
  
  .home__social-links {
    display: inline-flex;
    flex-direction: column;
    row-gap: 0.25rem;
  }
  
  .home__social-link {
    font-size: 1rem;
    color: var(--first-color);
    transition: 0.3s;
  }
  
  .home__social-link:hover {
    transform: translateX(0.25rem);
  }
  
  .home__data-img {
    width: 30%;
    margin-right: 4rem;
  }
  
  .home__description1 {
    font-size: 1rem;
    margin-top: 0.5rem;
    display: flex;
  }
  
  .textinfor {
    font-size: 3rem;
  }
  
  
  .button_home {
    background-color: var(--first-color);
    color: #fff;
    padding: 1rem 1.75rem;
    border-radius: 0.5rem;
    font-weight: var(--font-medium);
    transition: 0.3s;
  }
  
  .button_home:hover {
    background-color: var(--first-color-alt);
  }
  
  .home__input {
    font-size: 0.8rem;
    padding: 10px 0.5rem;
    background: #fff;
    border-radius: 0.7rem;
    color: var(--text-color);
    border: none;
    outline: none;
  }
  
  .home__subscribe{
    width: 95%;
    background-color: #fff;
    padding: 0.8rem 0.7rem;
    border-radius: 0.7rem;
    display: flex;
    justify-content: space-between;
  }

  .img_produtos{
    width: 80%;
  }
  
  .project__container{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;

   
  }

  .project__content1{
    display: flex;
    flex-direction: row;
    
  }

  .project__content2{
    display: flex;
    flex-direction: row;
   
  }

  .img_produtos{
    width: 13rem;
    height: 4rem;
    margin-left: 1rem;
    margin-right: 3rem;
  }
  

  .home__data-text{
    width: 35%;
    font-size: 1.375rem;
    line-height: 2rem;
    font-weight: bold;
    margin-left: 2rem;
  }

  @media screen and (max-width: 1200px) {
    
      .home__data-container{
        width: 100%;
        margin-left: 8%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }

     .home__img{
        display: none;
      }
      
      .home__data-text{
        width: 50%;
        font-size: 1.375rem;
        line-height: 2rem;
        font-weight: bold;
        
      }
      
  .project__container{
    display: flex;
    
  }

  .project__content1{
    display: flex;
    flex-direction: row;
    
  }

  .project__content2{
    display: flex;
    flex-direction: row;
   
  }

  .img_produtos{
    width: 10rem;
    height: 2.5rem;
    margin-left: 1rem;
    
  }
  
   
    }

    @media screen and (max-width: 780px) {
      .home_section {
        padding: 0.01rem 0.01rem;
      }
      .home__container{
        display: flex;
        align-items: center;
        width: 100%;
        padding-left: 2%;
        padding-top: 12%;
        }

      .home__data-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }

      .home__data-text{
        width: 60%;
        margin-left: 20%;
        margin-top: 2rem
      }

      .home__data-img{
        width: 30%;
        margin-right: 10%;
        margin-left: 35%;
      }

     .home__img{
        display: none;
      }
      
      .home__subscribe{
        width: 90%;
        padding: 0.5rem 0.5rem;
       
      }

      .project__container{
        display: flex;
       
      }

      .project__content1{
        display: flex;
        flex-direction: column;
       
        
      }
    
      .project__content2{
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
      }
    
     
      .img_produtos{
        width: 12rem;
        height: 4rem;
        
      }
      
    }


    @media screen and (max-width: 580px) {
      
      .home_section {
        padding: 2.011rem 0.02rem;
      }
      .home__container{
        display: flex;
        width: 100%;
       
        padding-top: 26%;
        }
         .home__data-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }

      .home__data-text{
        width: 90%;
        margin-left: 5%;
        margin-top: 2rem
      }

      .home__data-img{
        width: 60%;
        margin-left: 20%;
      }

     .home__img{
        display: none;
      }
      
      .home__subscribe{
        width: 70vw;
        padding-right: 1rem;
        margin-left: 0rem;
      
       
      }
      .button_home {
        margin-left: -2rem;
      }
      
      .textinfor{
        font-size: 1.5rem;
      }

      .home__description{
        font-size: 0.75rem;
      }

      .infor{
        margin-left: 1.5rem;
      }
      .infordados{
        display: flex;
        justify-content:space-evenly;
        padding-top: 1rem;
        width: 80%;
        margin-left: 10%;
        margin-top:2rem;
      }
      .home__description1 {
        font-size: 0.75rem;
      }


      .button_home {

        background-color: var(--first-color);
        color: #fff;
        padding: 0.8rem 0.4rem;
        border-radius: 0.5rem;
        font-size: 0.75rem;
      }
       
      
      .home__title {
        font-size: var(--h1-font-size);
        line-height: 140%;
        margin-bottom: var(--mb-1);
      }

      .project__container{
        display: flex;
        
      }
      .project__content1{
        display: flex;
        flex-direction: column;
        
        
      }

      .about__img {
       margin-right: 1rem;  
      }
    
      .project__content2{
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
   
      }
      .img_produtos{
        width: 8rem;
        height: 4rem;
        margin-top: 2rem;
        
      }
    }


    
    @media screen and (max-width: 370px){
      .home_section {
        padding: 3.011rem 0.01rem;
      }
      .home__container{
        display: flex;
        align-items: center;
        width: 100%;

        padding-top: 12%;
        }
        .home__data-container{
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
        }
  
        .home__data-text{
          width: 95%;
          margin-left: 2.5%;
          margin-top: 2rem
        }
  
        .home__data-img{
          width: 80%;
          margin-left: 10%;
        }

     .home__img{
        display: none;
      }
      
      .home__subscribe{
        width: 70vw;
        padding-right: 1rem;
        margin-left: 0rem;
       
        
       
      }

      .textinfor{
        font-size: 1.2rem;
      }

      .home__description{
        font-size: 0.75rem;
      }

      .home__description1{
        font-size: 0.65rem;
      }

      .infor{
        margin-left: 1rem;
      }


      .infordados{
        display: flex;
        justify-content:space-evenly;
        padding-top: 1rem;
        width: 80%;
        margin-left: 10%;
        margin-top:2rem;
      }

      .button_home {

        background-color: var(--first-color);
        color: #fff;
        padding: 0.6rem 0.3rem;
        margin-right: 0rem;
        border-radius: 0.5rem;
        font-size: 0.70rem;
 
      
      }


      .button_aboutUs_container {
        margin-left: -5rem;
        width: 5%;
      }

      .button_aboutUs {
        margin-left: -2rem;
        padding: 0 0 1rem;
      }
  
        .home__title {
          font-size: var(--h1-font-size);
          line-height: 140%;
          margin-bottom: var(--mb-1);
        }

        .home__input {
          font-size: 0.70rem;
          margin-left: -0.5rem;
        }

        
        .img_home_logos1{
          width: 4rem;
        }

        .img_home_logos{
          width: 4rem;
        }
        .project__content1{
          display: flex;
          flex-direction: column;
          
          
        }
      
        .project__content2{
          display: flex;
          flex-direction: column;
          margin-left: 1rem;
        }
        .img_produtos{
          width: 8rem;
          height: 2rem;
         
          
        }

         .about__img {
           margin-right: 1rem;
        }
        .project__container {
         margin-top: 5rem;
        }    
        
         }
    