.ourProducts-container{
    width: 60%;
    margin-left: 20%;
    display: flex;
    justify-content: space-evenly;
    min-height: 15vh;
    max-height: 20vh;
    margin-top: 12%;
}

.ourProducts-containerInterno{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    max-width: 60%;
    
}

.ourProducts-img{
    max-width: 40%;
}

.ourProducts_text-container{
    width: 60%;
    margin-left: 20%;
}



@media screen and (max-width: 800px){
    .ourProducts-container{
        width: 60%;
        margin-left: 20%;
        display: flex;
        justify-content: space-evenly;
        min-height: 25vh;
        max-height: 50vh;
        margin-top: 12%;
        flex-direction: column;
        
    }

    .ourProducts-img{
        width: 40%;
        margin-left: 30%;
        margin-top: 1rem;
    }

    .ourProducts_text-container{
        width: 60%;
        margin-left: 20%;
       
       
    }

    .text_intern{
     width: 100%;  
    }

    .ourProducts-containerInterno{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80%;
        max-width: 90%;
    }    
    
}


@media screen and (max-width: 500px){
    .ourProducts-container{
        width: 80%;
        margin-left: 10%;
        display: flex;
        justify-content: space-evenly;
        min-height: 25vh;
        max-height: 50vh;
        margin-top: 12%;
        flex-direction: column;
       
    }

    .ourProducts-img{
        width: 40%;
        margin-left: 30%;
        margin-top: 1rem;
    }

    .ourProducts_text-container{
        width: 80%;
        margin-left: 10%;
       
       
    }

    .text_intern{
     width: 100%;  
    }

    .ourProducts-containerInterno{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80%;
        max-width: 90%;
    } 
}