.eco_text{
    padding: 1rem;
    border: 1px solid #FF7A00;
    margin-top: 0.5rem;
    
}

.eco-container{
    display: flex;
    width: 40%;
    justify-content: center;
    margin-left: 1%;
    
}

.eco_imgs-container{
    display: flex;

}

.logo__negocios2 {
  margin-left: 6rem;
}



@media (min-width: 1200px){
    .eco_text{
        padding: 1rem;
        border: 1px solid #FF7A00;
        margin-top: 0.5rem;
        
    }
    .eco_text-container{
        width: 30%;
        margin-left: -10%;
    }
    .eco-container{
        display: flex;
        width: 98%;
        justify-content: space-evenly;
        margin-left: -1%;
        
    }
    
    .eco_imgs-container{
        display: flex;
    
    }

    .container_text-eco{
        margin-left: 25%;
        width: 50%;
    }
    .detal_eco{
        width: 60%;
        margin-left:15%;
    
    }
}

  
@media (max-width: 1200px){
    .eco_text{
        padding: 1rem;
        border: 1px solid #FF7A00;
        margin-top: 0.5rem;
        
    }
    .eco_text-container{
        width: 30%;
        margin-left: -10%;
    }
    .eco-container{
        display: flex;
        width: 98%;
        justify-content: space-evenly;
        margin-left: -1%;
        
    }
    
    .eco_imgs-container{
        display: flex;
    
    }

    .container_text-eco{
        margin-left: 25%;
        width: 50%;
    }
    
    .detal_eco{
        width: 70%;
        margin-left: 15%;
       
    }

    .container_text-eco{
        width: 80%;
        margin-left: 10%;
    }
    
}
  
@media (max-width: 800px){
    .eco_container{
        width: 80%;
        margin-left: 10%;
      
    }

    .eco_text{
        padding: 1rem;
        border: 1px solid #FF7A00;
        margin-top: 0.5rem;
        width: 40%;
        margin-left: 10%;
        text-align: center;
    }

    .text_big{
        width: 60%;
        margin-left: 10%;
    
    }
    .eco_text-container{
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        margin-top: -8rem;
        margin-left: 10%;
    }
    .eco-container{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        flex-direction: column;
        
        
    }
    
    .eco_imgs-container{
        display: flex;
        flex-direction: column;
        width: 100%;
       
     
    }

    .logo__negocios1{
       width: 90%;
       margin-right: 5%;
    }
    .logo__negocios2{
        transform: rotate(90deg);
        width: 18%;
        margin-top: -22vh;
        margin-left: 4%;
        margin-bottom: 2rem;
    }

    .container_img2{
        margin-left: 40%;
 
       
    }
    .container_img1{
        width: 40%;
        margin-left: 18%;
       
    }

    .text_big{
        width: 60%;
        margin-left: 25%;
    
    }
    .eco_text-container{
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin-top: -8rem;
        margin-left: 5%;
    }

    .container_text-eco{
        width: 80%;
        margin-left: 10%;
    }
   
}


@media (max-width: 550px){
    .eco_container{
        width: 90%;
        margin-left: 10%;
      
    }

    .eco_text{
        padding: 1rem;
        border: 1px solid #FF7A00;
        margin-top: 0.5rem;
        width: 46%;
        margin-left: 2%;
        text-align: center;
    }

    .text_big{
        width: 80%;
        margin-left: 10%;
        
    }
    .eco_text-container{
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin-top: 8rem;
        margin-left: 5%;
        
    }
    .eco-container{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        flex-direction: column;
        
        
    }
    
    .eco_imgs-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        
        
    }

    .logo__negocios1{
       width: 90%;
       margin-right: 5%;
    }
    .logo__negocios2{
        transform: rotate(90deg);
        width: 18%;
        margin-top: -15vh;
        margin-bottom: 8vh;
        margin-left: 4%;
    }

    .container_img2{
        margin-left: 35%;
 
       
    }
    .container_img1{
        width: 40%;
        margin-left: 18%;
       
    }

    
    .eco_text-container{
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin-top: -8rem;
        margin-left: 5%;
    }
   
    .container_text-eco{
        width: 80%;
        margin-left: 10%;
    }
}