.footer_container{
    width: 100%;
    margin-left: 0%;
    background-color: #000;
    
   
}

.footer_intern-container{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 90%;
    margin-left: 10%;
}

.logo_footer{
    width: 30%;
    margin-left: 35%;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.title_footer{
    margin-left: 25%;
    margin-top: 1rem;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    
}

.title_footer2{
    margin-left: 30%;
    margin-top: 1rem;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    
}

.subtitle_footer{
    margin-left: 15%;
    margin-top: 1rem;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin-top: -0.1rem;
}
.social_icons-container{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    margin-left: 27%;
    margin-top: 1rem;
}
.direitos_text{
    color: #fff;
    width: 80%;
    margin-left: 0%;
    margin-top: 2rem;
    text-align:center;
}

.title_adress{
    text-align:center;
    width: 80%;
}
.logo_footer-container{
    width: 30%;
    margin-left:35%;
   justify-content: center;
   align-items: center;
   margin-top: 1rem;
   margin-bottom: 1rem;
}

.logo_footer-container2{
    width: 30%;
    margin-left:35%;
   justify-content: center;
   align-items: center;
   margin-top: 1rem;
   margin-bottom: 1rem;
}

.direitos_text-container{
    width:60%;
    margin-left:25%;

    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.section__title {
font-size: 1.5rem;
}

@media (min-width: 600px) {
    
    .footer_container{
        display: flex;
        padding-bottom: 1rem;
        flex-direction: row;
    }

    .footer_intern-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 1rem;
        width: 90%;
        margin-left: 5%;
    }
    .title_footer{
        width:75%;
        margin-left: 25%;
        margin-top: 1rem;
        
    }

    .subtitle_footer{
        margin-left: 5%;
        margin-top: 1rem;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 0.1rem;
    }
    .title_footer2{
        margin-left:30%;
        margin-top: 1rem;
        width: 45%;
        display: flex;
        flex-wrap: wrap;
        
    }

    .logo_footer-container{
        width: 20%;
        margin-left: 3%;
        
    }
    .logo_footer-container2{
        width: 20%;
        margin-left: 3%;
    }

    .direitos_text-container{
        width: 33%;
        margin-left: 2.5%;
    }
}



@media (max-width: 600px) {

    .footer_container{
        background-color: #000;
        display: flex;
        margin-top: 1rem;
        width: 100%;
        margin-left: 0%;
    }

    .footer_intern-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 1rem;
        width: 90%;
        margin-left: 5%;
    }
    
    .logo_footer{
        width: 30%;
        margin-left: 35%;
        margin-top: 3vh;
    }
    
    .title_footer{
        margin-left: 20%;
        margin-top: 1rem;
        width:80%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
       
    }

    
    .title_footer2{
        margin-left: 30%;
        margin-top: 1rem;
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        
    }
    

    .title_adress{
       
    }
    .subtitle_footer{
        margin-left: 10%;
        margin-top: 1rem;
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        margin-top: -0.1rem;
    }
    .social_icons-container{
        display: flex;
        justify-content: space-evenly;
        width: 80%;
        margin-left: 10%;
        margin-top: 1rem;
        
        
    }
    .direitos_text{
        color: #fff;
        width: 80%;
        margin-left: 0%;
        margin-top: 1rem;
        text-align:center;
        
    }
    
    .title_adress{
        text-align:center;
        width: 80%;
    }
    .logo_footer-container{
        width: 50%;
        margin-left:25%;
       justify-content: center;
       align-items: center;
       margin-top: 1rem;
       margin-bottom: 1rem;
     
    }

    .logo_footer-container2{
        width: 50%;
        margin-left:25%;
       justify-content: center;
       align-items: center;
       margin-top: 1rem;
       margin-bottom: 1rem;
     
       
    }
    
    .direitos_text-container{
        width:60%;
        margin-left:20%;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      
    }
    .section__title {
    font-size: 1.5rem;
    }
    
}


@media (max-width: 500px) {

    .footer_container{
        background-color: #000;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        width: 100%;
        margin-left: 0%;
    }

    .footer_intern-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 1rem;
        width: 90%;
        margin-left: 5%;
    }
    
    .logo_footer{
        width: 40%;
        margin-left: 30%;
        margin-top: 3vh;
    }
    
    .title_footer{
        margin-left: 10%;
        margin-top: 1rem;
        width:80%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
       
    }

    
    .title_footer2{
        margin-left: 25%;
        margin-top: 1rem;
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        
    }
    

    .title_adress{
       
    }
    .subtitle_footer{
        margin-left: 10%;
        margin-top: 1rem;
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        margin-top: -0.1rem;
    }
    .social_icons-container{
        display: flex;
        justify-content: space-evenly;
        width: 80%;
        margin-left: 10%;
        margin-top: 1rem;
        
        
    }
    .direitos_text{
        color: #fff;
        width: 80%;
        margin-left: 0%;
        margin-top: 1rem;
        text-align:center;
        
    }
    
    .title_adress{
        text-align:center;
        width: 80%;
    }
    .logo_footer-container{
        width: 50%;
        margin-left:25%;
       justify-content: center;
       align-items: center;
       margin-top: 1rem;
       margin-bottom: 1rem;
     
    }

    .logo_footer-container2{
        width: 50%;
        margin-left:25%;
       justify-content: center;
       align-items: center;
       margin-top: 1rem;
       margin-bottom: 1rem;
     
       
    }
    
    .direitos_text-container{
        width:60%;
        margin-left:20%;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      
    }
    .section__title {
    font-size: 1.5rem;
    }
    
}