.proffessional_card{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin-left: 15%;
    border-radius: 1.8rem;
    padding: 1rem;
    -webkit-box-shadow: 1px 2px 70px 12px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 70px 12px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 70px 12px rgba(0,0,0,0.75);
    margin-top: 5%;
}

.proffessional_card-carrousel{
    display: inline;
    flex-direction: row;
    width: 100%;
    margin-left: 0%;
    border-radius: 1.8rem;
    padding: 1rem;
    
    margin-top: 5%;
}
.intro_professionals{
    width: 80%;
    margin-left: 10%;

}

.professional_img{
   
    border-radius: 100%;
    height: 7rem;
    width:  7rem;
}

.profissional_img-container{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 25vw;
    justify-content: space-evenly;
  
}

.professional_text-container{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;   
}

.professional_title{
    font-size: 1.8rem;
}


@media screen and (min-width: 800px) {
    .carrousel_container{
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .container_professionals{
        display: none;
    }

    .proffessional_card-carrousel{
        display: flex;
        width: 100%;
        margin-left: 0%;
        border-radius: 1.8rem;
        padding: 1rem;
        margin-top: 5%;
        
    }

    .profissional_img-container{
        display: flex;
        flex-direction: column;
        width: 20%;
        height: 25vw;
        justify-content: space-evenly;
      
    }
    
    .professional_text-container{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;   
    }
}