
/*==================== Valores FOCOSP ====================*/

.section_valores {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 8rem;
    width: 80%;
    margin-left: 10%;
    }
    .intro_valores{
      font-size: var(--h2-font-size);
        
       
    }
    
    .intro_valores p {
    font-size: var(--normal-font-size);
    }
    
    .intro_valores span {
      font-size: var(--normal-font-size);
    }
   
    .accordion {
     width: 80%;
     height: 20%;
     margin-top: 5rem;
     
    }
    
    
    .accordion .accordion-content {
      border: solid 2px #FF7A00;
      margin: 8px;
      overflow: hidden;
      border-radius: 5px;
      position: relative;
      margin-top: 1rem;
    }
    
    .icon_content {
     width: 1.5rem;
     height: 1.5rem;
     margin-top: 0.8rem;
     
    }
    
    .accordion-content header {
      display: flex;
      padding: 10px 0px 0px 10px;
      box-shadow: all;
      justify-content: space-between;
      cursor: pointer;
      transition: all 0.2s linear;
    }
    
    .accordion-content header i {
      font-size: 22px;
      margin-top: 15px;
      color: var(--title-color);
      position: relative;
    }
    
    .accordion-content.open {
      padding-bottom: 10px;
    }
    
    .accordion-content.open header {
      min-width: 35px;
      transition: 3.s ;
    }
    
    
    .tittle_valores_icon {
     color: var( --title-color);
     font-size: var( --small-font-size);
     margin-left: 3rem;
     text-align: start;
     position: absolute;
    }
    
    .accordion-content .description {
      height: 0;
      padding: 0 15px;
      transition: all 0.2s linear;
    }
    
    .img_valores_foco {
      max-width: 63%;
      margin-left: 11rem;
      margin-top: 0rem;
    }
    .img_valores {
     width: 30rem;
     height: 30rem;
     margin-top: 5rem;
     margin-bottom: 3rem;
   }
  
   .img_valores1 {
    width: 20rem;
    height: 28rem;
    margin-top: 2rem;
  }
  
  
    @media(max-width: 380px) {
     .img_valores {
       width: 13rem;
       height: 16rem;
       margin-bottom: 2rem;
       margin-left: 2.5rem;
        
     }
  
     .section_valores {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       margin-top: 8rem;
       width: 100%;
       
       
       }
       
   .icon_content {
     width: 1.5rem;
     height: 1.5rem;
     margin-left: -0.8rem;
   
   
    }
  
    .tittle_valores_icon {
     color: var( --small-font-size);
     font-size: 0.70rem;
     margin-top: 1rem;
     margin-left: 0.95rem;
    }
    
    .icon3 {
     
     padding-right: 1.7rem;
    }
  
  
   .accordion {
    width: 90%;
    }
  
    .intro_valores{
     margin-left: 2rem;
     margin-bottom: 2rem;
     font-size: var(--normal-font-size);
   }
   
    }
  
    @media(min-width: 380px) {
      .accordion-content {
        font-size: 0.8rem;
      }
      .tittle_valores_icon {
        font-size: 0.6rem;
        margin-right: 3rem;
        margin-top: 0.9rem;
      }
      .description {
        font-size: 0.6rem;
        margin-top: 2rem;
      }
      .img_valores {
       width: 80%;
       height: 60%;
       margin-left: 1.7rem;
      }
      .intro_valores {
        margin-left: 1.5rem;
      }
      .newsletter_container {
        margin-left: -0.5rem;
      }

      .accordion-content {
        width: 100%;
     
      }
      .accordion {
         width: 100%;
         margin-left: -10%;
         margin-top: -15%;
        
       }
     }
  
    @media(min-width: 400px) and (max-width: 680px){
     .img_valores {
       width: 19rem;
       height: 25rem;
       margin-bottom: 3rem;
       margin-left: 14%;
        
     }
  
    
     .icon3 {
       padding-right: 1.7rem;
      }
   
  
    .tittle_valores_icon {
     margin-top: 0.9rem;
    }
  
    .accordion-content {
      width: 100%;
   
    }
    .accordion {
       width: 100%;
       margin-left: -10%;
       margin-top: -15%;
     }
    .tittle_valores_icon {
      font-size: 0.7rem;
      margin-left: 2rem;
      top: 0px;
    }
    .accordion-content header i {
      margin-top: 10px;
    }
  
    .intro_valores{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 8rem;
      width: 90%;
      margin-left: 5%;
      
   }

   .accordion-content {
    width: 100%;
 
  }
  .accordion {
     width: 100%;
     margin-left: -10%;
     margin-top: -15%;
     
   }
  
   .container_content{
     padding-left: 2.5rem;
     padding-right: 2.5rem;
   }
   .img_container-valores{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
   }
    }
  
    @media(min-width: 680px) and (max-width: 800px){
     .img_valores {
       width: 40%;
       margin-bottom: 3rem;
       
        
     }
  
    .tittle_valores_icon {
     margin-top: 0.9rem;
     }
  
    .accordion-content {
     width: 80%;
  
   }
   .accordion {
      width: 100%;
      margin-left: 10%;
      margin-top: -15%;
    }

    .section_valores {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 8rem;
      width: 80%;
      margin-left: 10%;
     }

     .img_container-valores{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
     }
    .intro_valores{
    
     margin-bottom: 1rem;
     font-size: var(--normal-font-size);
   
   }
  
   .container_content{
     padding-left: 15%;
   }
    }
  
  
   @media(min-width: 800px)and (max-width: 1280px){
    .img_valores {
      width: 22rem;
      max-height: 30rem;
    }
      
    .container_content{
      margin-left: 3rem;
    }
 
    .intro_valores{
      margin-left: 1rem;
      margin-bottom: 1rem;
    
    }
 
  
      .tittle_valores_icon {
       margin-top: 1rem;
       font-size: 0.9rem;
      }
      .description {
       font-size: 0.8rem;
      }
  
     .section_valores {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-top: 8rem;
        width: 70%;
        margin-left: 15%;
       }
   }
  
   @media(min-width: 1200px){
  
     .img_valores {
       width: 22rem;
       max-height: 30rem;
     }
       
     .container_content{
       margin-left: 3rem;
     }
  
     .intro_valores{
       margin-left: 1rem;
       margin-bottom: 1rem;
     
     }
  
     .section_valores {
      padding-left: 0%;
      width: 70%;
      margin-left: 15%;
      
       }
       .tittle_valores_icon {
        margin-top: 1rem;
        font-size: 0.9rem;
       }
       .description {
        font-size: 0.8rem;
       }
   }
    